﻿@using Nop.Web.Framework.UI;
@model Nop.Plugin.Payments.Redsys.Models.ErrorModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

<div class="page-title">
    <h1>@T("Plugin.Payments.Redsys.Error")</h1>  
</div>
<div class="page-body">
    <p>
        @T("Plugin.Payments.Redsys.ErrorMessage") <b><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a> (@Model.ContactEmail)</b>
    </p>
</div>