﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.Redsys.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new
{
    area = "Admin"
})
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantName_OverrideForStore, model => model.MerchantName, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantName)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.MerchantName)
                        @Html.ValidationMessageFor(model => model.MerchantName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.OrderPrefix_OverrideForStore, model => model.OrderPrefix, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.OrderPrefix)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.OrderPrefix)
                        @Html.ValidationMessageFor(model => model.OrderPrefix)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantCode_OverrideForStore, model => model.MerchantCode, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantCode)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.MerchantCode)
                        @Html.ValidationMessageFor(model => model.MerchantCode)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Terminal_OverrideForStore, model => model.Terminal, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Terminal)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Terminal)
                        @Html.ValidationMessageFor(model => model.Terminal)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PaymentReferenceText_OverrideForStore, model => model.PaymentReferenceText, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PaymentReferenceText)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PaymentReferenceText)
                        @Html.ValidationMessageFor(model => model.PaymentReferenceText)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.IsTestMode_OverrideForStore, model => model.IsTestMode, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.IsTestMode)                        
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.IsTestMode)
                        @Html.ValidationMessageFor(model => model.IsTestMode)
                        <br />
                        <em>@T("Plugin.Payments.Redsys.ConfigurationTip")</em>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.EncryptionKey_OverrideForStore, model => model.EncryptionKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.EncryptionKey)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.EncryptionKey)
                        @Html.ValidationMessageFor(model => model.EncryptionKey)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TestEncryptionKey_OverrideForStore, model => model.TestEncryptionKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TestEncryptionKey)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TestEncryptionKey)
                        @Html.ValidationMessageFor(model => model.TestEncryptionKey)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentage_OverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>

                <div class="form-group additional-fee">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-11">
                        <br />
                        @T("Plugin.Payments.Redsys.OnlineConfigurationTip").Text <br />
                        <a href="https://canales.redsys.es/" target="_blank">Acceso al panel de redsys</a>
                    </div>
                    
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
